<template>

  <video id="video" ref="video" width="640" height="480" preload="auto" loop playsinline autoplay style="display:none"/>
  
  <img src="@/assets/moustaches/style1.png" ref="moustache" style="display:none">
 
  <div ref="shotbutton">   
      <canvas id="canvas" ref="canvas" width="640" height="480"></canvas>
      <button @click="shot">Shot!</button>
  </div>

  <div ref="actions" style="display:none">
     <img src="" ref="picture">

    <button @click="newPicture">New Picture</button>
  </div>


</template>

<script>
export default {
  components: {
   
  },
  data() {
    return {
      faceTracker: {},
      video: {},
      canvas: {},
      cContext: {},
      style: '1'
    }
  },
  beforeMount() {
    let ftScript = document.createElement('script');
    ftScript.setAttribute('src', 'https://cdn.jsdelivr.net/npm/clmtrackr@1.1.2/build/clmtrackr.min.js');
    ftScript.async = true;
    ftScript.defer = true;
    document.head.append(ftScript);
  },
  mounted() {
    this.canvas = this.$refs.canvas;
    this.cContext = this.canvas.getContext('2d');
    this.startCamera();
  }, 
  methods: {
    startCamera() {
      this.video = this.$refs.video;

      if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
          .then(stream => {
            this.video.srcObject = stream;
            this.video.load();
            this.video.play();

           this.faceTracker = new clm.tracker();
           this.faceTracker.init();
           this.faceTracker.start(this.video);
           this.drawLoop();
          })
          .catch(function (error) {
            console.log("No camera...", error);
          });
      }
    },
    setMoustache() {
      let img = new Image();
      img.src= `@/assets/moustaches/style${this.style}.png`;
      return img;
    }
    ,
    drawLoop() {
      requestAnimationFrame(this.drawLoop);
      let moustache = this.$refs.moustache;
      
      this.cContext.clearRect(0, 0, this.canvas.width, this.canvas.height);
      this.cContext.drawImage(this.video, 0, 0, this.canvas.width, this.canvas.height);

      let positions = this.faceTracker.getCurrentPosition();

      if (positions) {  
        let mWidth = positions[37][0];
        let mHeight = positions[47][1] + 100;
        
        this.cContext.drawImage(moustache, positions[37][0] - 190, positions[37][1] - 170, mWidth, mHeight);
      }
    },
  shot() {
    this.video.pause();
    this.$refs.picture.src = this.canvas.toDataURL("image/jpeg", 1.0);

    this.$refs.shotbutton.style.display = 'none';
    this.$refs.actions.style.display = 'block';
  },
  newPicture() {
    this.video.play();
    this.$refs.shotbutton.style.display = 'block';
    this.$refs.actions.style.display = 'none';
  }
}
}
</script>