<template>
  <Moustache />

  <div>
    Powered by <img src="@/assets/logo.png" class="initial-logo">
  </div>
</template>

<script>
import Moustache from './components/Moustache.vue'

export default {
  name: 'App',
  components: {
    Moustache
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.initial-logo {
  width: 32px;
  padding-top: 6px;
}
</style>
